h1 {
  background-color: lightgray;
  border: 4px solid black;
  text-align: center;
}

#above-book {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid cyan;
}

.left-page {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  height: 200px;
}

.right-page {
  display: flex;
  flex-direction: column;
  border: 4px solid pink;
  height: 300px;

}

.left-page .right-page {
  display: flex;
  flex-direction: column-reverse;
}

img {
  width: fit-content;
}
